<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
		<h1>{{description}}</h1>
	<form class="addUserForm">
        <input type="text"  name="name" id="firstName-field"placeholder="First Name"><br><br><br>
        <input type="text"  name="lastName" id="lastName-field"placeholder="Last Name"><br><br><br>
        <input type="text"  name="rollNo" id="rollNo-field"placeholder="Roll Number"><br><br><br>
        <input type="text"  name="email" id="email-field"placeholder="Email"><br><br><br>
        <input type="text"  name="mobileNo" id="mobileNo-field"placeholder="Mobile No."><br><br><br>
        <input type="password"  name="password" id="password-field"placeholder="Password"><br><br><br>
        <button type="submit">Add User</button>
        
    </form>

  <script src="js/addUser.js"></script>

	</body>
</html>
