<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
		<h1>{{description}}</h1><br><br>
        <a href="">Approve Venue Booking Request</a><br><br>
        <a href="">Approve Bulettin Board Update</a><br><br><br><br>
        <a href="/addUser">Add new User</a><br><br><br><br>
        <a href="">Appoint new GSEC/Coordinator</a>
		
	</body>
</html>
