<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
		<h1>{{description}}</h1>
		<form>
			<input type="password"  name="password" id="password-field"placeholder="Admin Password"><br><br><br>
			<button type="submit">Sign In</button>
		</form>

	<script src="js/admin_login.js"></script>
	</body>
</html>
