<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
        <h1 id = "hi">hi</h1>
		<h1>{{description}}</h1>
        <h1 id = "headingRole">{{role}}</h1>
        <div id="show_requests">

        </div>
        <button type="button" id="approve">Accept</button>
    <script src="/js/approveClub.js"></script>
	</body>
</html>