f<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../images/image_cult/gymkhana.ico" />
  <!--color of bar for uc-->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#5d6266">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#5d6266">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!--color part ends-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clubs</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href="../css/css_cult/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/../css/css_cult/font-awesome.min.css" rel="stylesheet">
  <link href="../css/css_cult/flexslider.css" rel="stylesheet">
  <!-- <link href="../css/css_cult/styles.css" rel="stylesheet"> -->
  <link href="../css/css_cult/queries.css" rel="stylesheet">
  <link href="../css/css_cult/animate.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Sports Council-LNMIIT Students' Gymkhana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/css_cult/normalize.min.css">
  <link rel="stylesheet" href="../css/css_cult/bootstrap.min.css">
  <!--<link rel="stylesheet" href="../css/css_cult/jquery.fancybox.css">-->
  <link rel="stylesheet" href="../css/css_cult/flexslider.css">
  <link rel="stylesheet" href="../css/css_cult/styles1.css">
  <!--<link rel="stylesheet" href="../css/css_cult/queries.css">-->
  <!--<link rel="stylesheet" href="../css/css_cult/etline-font.css">-->
  <!--<link rel="stylesheet" href="bower_components/animate.../css/css_cult/animate.min.css">-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/../css/font-awesome.min.css">
  <script src="../js/js_cult/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body id="top">

  <section class="hero">
    <section class="navigation">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#"><img src="../images/images_homepage/Logo.png" width="200" height="50"></a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                <li><a href="#assets"><b>About</b></a></li>
                <li><a href="#blog"><b>Sports</b></a></li>
                <li><a id = "home"><b>Home</b></a></li>
              </ul>
            </nav>
          </div>
          <div class="navicon">
            <a class="nav-toggle" href="#"><span></span></a>
          </div>
        </div>
      </header>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="hero-content text-center">
            <br>
            <br>
            <h1>SPORTS COUNCIL</h1>
            <p class="intro">"If you ever dream of beating me, you'd better wake up and apologize."<br />-Muhammad Ali
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#blog"><i class="fa fa-angle-down"></i></a></div>
  </section>
  <section class="features-extra section-padding" id="assets">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="feature-list">
            <h3><strong>The LNMIIT Sports Council</strong></h3>
            <p><strong>The sports council mananges all the sports clubs in college. It is responsible for managing all
                the college teams in all sports. The council also takes all
                decisions with regards to sports infrastructure of college and sports inventory.</strong>
            </p>
            <p><strong>Council also organizes an Annual Internation Sports Fest called Desportivos.</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="macbook-wrap wp3"></div>
    <div class="responsive-feature-img"><img src="../images/image_cult/logo (1).png" alt="responsive devices"></div>
    <section class="swagcult text-center " id="cult-council">
      <div class="container ">
        <div class="row ">
          <div class="col-md-8 col-md-offset-2 ">
            <h1>Cultural Clubs</h1>
            <a href="#cult" class="down-arrow-btn "><i class="fa fa-chevron-down "></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="portfolio text-center section-padding " id="cult">
      <div class="container ">
        <div class="row ">
          <div id="portfolioSlider ">
            <ul class="slides ">
              <li>
                <div class="col-md-4 wp4 ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/artbanner.jpg " style="height:250px; width:300px; " alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/art.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Art Club</u></h3>
                </div>
                <div class="col-md-4 wp4 delay-05s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/Dancebanner.jpg " style="height:250px; width:300px; " alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/DanceClub.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Dance Club</u></h3>
                </div>
                <div class="col-md-4 wp4 delay-05s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/musicbanner.jpg " style="height:250px; width:300px; " alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/music.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Music Club</u></h3>
                </div>
                <div class="col-md-4 wp4 delay-1s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/dramabanner.jpg " style="height:250px; width:300px; " alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/drama.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Drama Club</u></h3>
                </div>
                <div class="col-md-4 wp4 ">
                  <div class="overlay-effect   effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/fundoobanner.jpg " style="height:250px; width:300px; "
                        alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/fundoo.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Fundoo Club</u></h3>
                </div>
                <div class="col-md-4 wp4 delay-05s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/fashionbanner.jpg " style="height:250px; width:300px; "
                        alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/fashion.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Fashion Club</u></h3>
                </div>
                <div class="col-md-4 wp4 delay-1s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/nukkadbanner.jpg " style="height:250px; width:300px; "
                        alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/Nukkad.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Nukkad Mandali</u></h3>
                </div>
                <div class="col-md-4 wp4 ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/photobanner.jpg " style="height:250px; width:300px; " alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/photography.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Photography Club</u></h3>
                </div>
                <div class="col-md-4 wp4 delay-05s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/sankalpbanner.jpg " style="height:250px; width:300px; "
                        alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/sankalp.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Sankalp Club</u></h3>
                </div>

                <div class="col-md-4 wp4 delay-1s ">
                  <div class="overlay-effect effects clearfix ">
                    <div class="img ">
                      <img src="../images/image_cult/cult/images/media.jpg " style="height:250px; width:300px; " alt="Portfolio Item ">
                      <div class="overlay ">
                        <a href="cult/media.html " class="expand " target="_blank "></i><br></a>
                        <a class="close-overlay hidden ">x</a>
                      </div>
                    </div>
                  </div>
                  <h3><u>Media Cell</u></h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>
  <footer class="footer-bg ">
    <div class="container ">
      <div class="row ">
        <div class="col-md-4 footer-branding ">
          <img class="footer-branding-logo " src="../images/image_cult/logot.jpg " height="60 " width="160 " alt="logo ">
          <img src="../images/image_cult/Seal.png " height="110 " width="160 " alt="logo ">
          <p>The LNM Institute of Information Technology <a href="http://www.lnmiit.ac.in/ ">Jaipur</a> <span
              class="bold-italic ">Students' Gymkhana</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js "></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/js_cult/waypoints.min.js "></script>
  <script src="../js/js_cult/bootstrap.min.js "></script>
  <script src="../js/js_cult/scripts2.js "></script>
  <script src="../js/js_cult/jquery.flexslider.js "></script>
  <script src="../js/js_cult/modernizr.js "></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../js/js_cult/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="../js/js_cult/jquery.fancybox.pack.js"></script>
  <script src="../js/js_cult/vendor/bootstrap.min.js"></script>
  <script src="../js/js_cult/scripts.js"></script>
  <script src="../js/js_cult/jquery.flexslider-min.js"></script>
  <!--<script src="bower_components/classie/classie.js"></script>-->
  <script src="bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
</body>

</html>