<!DOCTYPE html>
<html>
    <head>
    <title>Homepage</title>
    </head>
    <body>
        <h1>{{description}}</h1>
        <h1>Hello {{name}}!</h1>
        <a href="/technical">Technical</a>
        <a href = "/sports">Sports</a>
        <a href = "/cultural">Cultural</a>
        <script src = "/js/app.js"></script>
    </body>
    
</html>