<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
		<h1>{{description}}</h1>
		<form>
			<input type="text"  name="name" id="firstName-field"placeholder="First Name"><br><br><br>
        	<input type="password"  name="password" id="password-field"placeholder="Password"><br><br><br>
			<button type="submit">Sign In</button>
		</form>

	<a href="/admin_login">Click here to sign in as Admin</a>
	<script src="js/login.js"></script>
	</body>
</html>
