<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sports Council-LNMIIT Students' Gymkhana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/css_sports/normalize.min.css">
    <link rel="stylesheet" href="../css/css_sports/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../css/css_sports/jquery.fancybox.css">-->
    <link rel="stylesheet" href="../css/css_sports/flexslider.css">
    <link rel="stylesheet" href="../css/css_sports/styles1.css">
    <!--<link rel="stylesheet" href="../css/css_sports/queries.css">-->
    <!--<link rel="stylesheet" href="../css/css_sports/etline-font.css">-->
    <!--<link rel="stylesheet" href="bower_components/animate.../css/css_sports/animate.min.css">-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/../css/css_sports/font-awesome.min.css">
    <script src="../js/js_sports/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body id="top">
    <section class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><a href="#"><img src="../images/images_sports/logo (1).png" width="200" height="50"></a></div>
                    <div class="header-nav">
                        <nav>
                            <ul class="primary-nav">
                                <li><a href="#assets"><b>About</b></a></li>
                                <li><a href="#blog"><b>Sports</b></a></li>
                                <li><a id="home"><b>Home</b></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
                        <br>
                        <br>
                        <h1>SPORTS COUNCIL</h1>
                        <p class="intro">"If you ever dream of beating me, you'd better wake up and
                            apologize."<br />-Muhammad Ali</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-extra section-padding" id="assets">
        <div class="container">

            <h3><strong>The LNMIIT Sports Council</strong></h3>
            <p><strong>The sports council mananges all the sports clubs in college. It is responsible for
                    managing all the college teams in all sports. The council also takes all
                    decisions with regards to sports infrastructure of college and sports
                    inventory.</strong>
            </p>
            <p><strong>Council also organizes an Annual Internation Sports Fest called Desportivos.</strong>
            </p>

        </div>
        <div class="macbook-wrap wp3"></div>
        <div class="responsive-feature-img"><img src="../images/images_sports/logo.png" alt="responsive devices"></div>

        <section class="blog-intro section-padding" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--<h3>There are over 12 types fo sports played at LNMIIT</h3>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                        <p><strong>Sports council is also responsible for organizing various intercollege and
                                intracollege sports activities and helps establish and promote positive sports culture
                                in college.</strong> </p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                        <h5><strong>There are 12 types of sports in LNMIIT</strong></h5>
                        <p><strong>Cricket, Football, Basketball, Volleyball, Table Tennis, Squash, Badminton, Lawn
                                Tennis, Chess, Carrom, Karate, Taekwando.</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="cricket.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/cricket.jpg" alt="Cricket" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="foot.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/Football.jpg" alt="Football" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="basketball.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/basketball.jpg" alt="Basketball" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                </div>
                <p>
                <div class="row">
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="volley.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/volleyball.jpg" alt="Volleyball" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="tablet.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/tt.jpg" alt="Table Tennis" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="squash.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/squash.jpg" alt="Squash" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                </div>
                <p>
                <div class="row">
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="Badminton.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/badminton.jpg" alt="Badminton" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="lawntennis.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/tennis.jpg" alt="Tennis" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="chess.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/chess.jpg" alt="Chess" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                </div>
                <p>
                <div class="row">
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="carrom.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/carrom.jpg" alt="Carrom" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="martial.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/karate.jpg" alt="Karate" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="blog-post">
                            <figure>
                                <a href="martial.html" class="single_image">
                                    <div class="blog-img-wrap">
                                        <div class="overlay">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <img src="../images/images_sports/taekwondo.jpg" alt="Taekwando" style="height:237px;" />
                                    </div>
                                </a>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="to-top">
            <div class="container">
                <div class="row">
                    <div class="to-top-wrap">
                        <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/js_sports/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="../js/js_sports/jquery.fancybox.pack.js"></script>
    <script src="../js/js_sports/vendor/bootstrap.min.js"></script>
    <script src="../js/js_sports/scripts.js"></script>
    <script src="../js/js_sports/jquery.flexslider-min.js"></script>
    <!--<script src="bower_components/classie/classie.js"></script>-->
    <script src="bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
</body>

</html>