<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
		<h1>{{description}}</h1>
        <div id="show_requests">

        </div>
        <button type="button" id="approve">Approve</button>
    <script src = "js/venue_approval.js"></script>
	</body>
</html>