<!doctype html>
<html lang="en">
  <head>
  	<title>LNMIIT Extra Curricular</title>
	</head>
	<body>
		<h1>{{description}}</h1>
	<form class="addUserForm">
        <input type="text"  name="rollNo" id="rollNo-field"placeholder="Roll Number"><br><br><br>
        <input type="text"  name="venue" id="venue-field"placeholder="Venue"><br><br><br>
        <input type="date"  name="date" id="date-field"placeholder="Date"><br><br><br>
        <input type="text"  name="slot" id="slot-field"placeholder="Slot"><br><br><br>
        <input type="text"  name="email" id="email-field"placeholder="Email"><br><br><br>
        <button type="submit">Submit Request</button>
        
    </form>

  <script src="js/venue_booking.js"></script>

	</body>
</html>