html, body{
    margin:0;
    
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    
}


.header{
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    background-color: #DC3535;
    width: 100%;
    padding:16px 32px;   
    border: black 7px solid;
}


.hlogo{
    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

#approve{
    border: none;
    background-color: black;
    margin-top: 32px;
    padding: 12px 48px;
    border-radius: 8px;
    box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.show_requests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}